<h1>DANH SÁCH ALBUMS</h1>

<div class="container">
	<div class="row albumitem">
		<div class="coverphoto">
			<a href="#">
				<img class="coverimage" alt="Ảnh Cover" src="<%= asset_path( 'redmi note4x/cover.jpg' ) %>"></a>
		</div>
		<div class="infoalbum">
			<a href="#"><p class="albumname">Tên album: Xiaomi Redmi Note 4X</p></a>
			<p class="usercreate">Người tạo: Nguyễn Thanh Phi</p>
			<p class="viewcount">Lượt view: 200</p>

		</div>
	</div>

	<div class="row albumitem">
		<div class="coverphoto">
			<a href="#">
				<img class="coverimage" alt="Ảnh Cover" src="<%= asset_path( 'redmi note4x/cover.jpg' ) %>"></a>
		</div>
		<div class="infoalbum">
			<a href="#"><p class="albumname">Tên album: Xiaomi Redmi Note 4X</p></a>
			<p class="usercreate">Người tạo: Nguyễn Thanh Phi</p>
			<p class="viewcount">Lượt view: 200</p>

		</div>
	</div>

	<div class="row albumitem">
		<div class="coverphoto">
			<a href="#">
				<img class="coverimage" alt="Ảnh Cover" src="<%= asset_path( 'redmi note4x/cover.jpg' ) %>"></a>
		</div>
		<div class="infoalbum">
			<a href="#"><p class="albumname">Tên album: Xiaomi Redmi Note 4X</p></a>
			<p class="usercreate">Người tạo: Nguyễn Thanh Phi</p>
			<p class="viewcount">Lượt view: 200</p>

		</div>
	</div>

	<div class="row albumitem">
		<div class="coverphoto">
			<a href="#">
				<img class="coverimage" alt="Ảnh Cover" src="<%= asset_path( 'redmi note4x/cover.jpg' ) %>"></a>
		</div>
		<div class="infoalbum">
			<a href="#"><p class="albumname">Tên album: Xiaomi Redmi Note 4X</p></a>
			<p class="usercreate">Người tạo: Nguyễn Thanh Phi</p>
			<p class="viewcount">Lượt view: 200</p>

		</div>
	</div>
</div>