<h1>TECHZ GROUP</h1>

<div class="container">
	<h1>Thông tin nhóm</h1>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<div class="thumbnail anhdaidien">	     
		        <img src="<%= asset_path( 'phi.jpg' ) %>"  class="img-responsive" alt="Nguyễn Thanh Phi" style="width:100%">

		        <div style="text-align: center;" class="caption">
		          <a href="https://www.facebook.com/InnerPeace.Windy"><p>Nguyễn Thanh Phi</p></a>
				  <h3>1412392</h3>
		        </div>	     
	       </div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<div class="thumbnail anhdaidien">	     
		        <img src="<%= asset_path( 'danh.jpg' ) %>" alt="Nguyễn Thanh Danh" class="img-responsive" style="width:100%">
		        <div class="caption">
		          <a href="https://www.facebook.com/danhluffy.nguyen"><p>Nguyễn Thanh Danh</p></a>
				  <h3>1412075</h3>
		        </div>	     
	       </div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<h1>Liên hệ</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.635928416839!2d106.68015726425628!3d10.76251656239453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bf8da4697%3A0x5c1e00e1d6a2b7a6!2zSSwgMjI3IE5ndXnhu4VuIFbEg24gQ-G7qywgcGjGsOG7nW5nIDQsIFF14bqtbiA1LCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1506616050091" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>
