

.albumitem{
	border-bottom:1px solid black;
	
	padding-bottom: 20px;
		.coverphoto{
			.coverimage{
				max-width:25%;
				float:left;
				margin-right: 40px;
			}
	}
	.infoalbum{
		margin-top: 50px;
		.albumname{
			color: blue;
			font-style: italic;
		}

		.usercreate{
			color: red;
			font-style: italic;
		}

	}
}
