@import "bootstrap-sprockets";
@import "variable";
@import "bootstrap-custom";
@import "albums";

body{
	overflow-x: hidden;
}

.nav-custom{

}
footer{
	background-color:black;
	color:white;
	.linkfooter{
		text-decoration: none;
		color:white;
		&:hover{
			font-style: underline;
			color:blue;
		}
	}
}


/* remove outer padding */

.maincontent{
	margin-bottom:30px;
}
.leftmenu{
	
	height:1400px;
}
/*Remove rounded coners*/

nav.sidebar {
  &.navbar {
    border-radius: 0px;
  }
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {
  /*Allow main to be next to Nav*/
 
  /*lets nav bar to be showed on mouseover*/
  nav.sidebar {
    &:hover {
      margin-left: 100px;
    }
    &.navbar.sidebar > .container .navbar-brand {
      margin-left: 0px;
    }
  }
  /*Center Brand*/
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
  /*Center Brand*/
  nav.sidebar {
    .navbar-brand, .navbar-header {
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    a {
      padding-right: 13px;
    }
    .navbar-nav {
      > li {
        &:first-child {
          border-top: 1px #e5e5e5 solid;
        }
        border-bottom: 1px #e5e5e5 solid;
      }
      .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    .navbar-collapse, .container-fluid {
      padding: 0 0px 0 0px;
    }
  }
  /*Center Icons*/
  /*adds border top to first nav box */
  /*adds border to bottom nav boxes*/
  /* Colors/style dropdown box*/
  /*allows nav box to use 100% width*/
  /*colors dropdown box text */
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  /*gives sidebar width/height*/
  nav.sidebar {
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
    li {
      width: 100%;
    }
    &:hover {
      margin-left: 0px;
    }
  }
  /*give sidebar 100% width;*/
  /* Move nav to full on mouse over*/
  /*for hiden things when navbar hidden*/
  .forAnimate {
    opacity: 0;
  }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {
  /*Allow main to be next to Nav*/
  
  /*Show all nav*/
  nav.sidebar {
    margin-left: 0px;
    float: left;
    .forAnimate {
      opacity: 1;
    }
  }
  /*Show hidden items on nav*/
}

nav {
  &.sidebar .navbar-nav .open .dropdown-menu > li > a {
    &:hover, &:focus {
      color: #CCC;
      background-color: transparent;
    }
  }
  &:hover .forAnimate {
    opacity: 1;
  }
}


/* line 11, /usr/local/bundle/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 11px;
}

@media (max-width: 991px) {
    .navbar-ex1-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .mainheader .collapse, .maintoggle {
        display:block !important;
    }
    .mainheader {
        float:none;
    }
}