@import "bootstrap-sprockets";
@import "variable";
@import "bootstrap-custom";
@import "albums";

body{
	overflow-x: hidden;
}

.nav-custom{

}
footer{
	background-color:black;
	color:white;
	.linkfooter{
		text-decoration: none;
		color:white;
		&:hover{
			font-style: underline;
			color:blue;
		}
	}
}