// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.blogitem{
	border-bottom:1px solid black;
	
	padding-bottom: 20px;
		.coverphoto{
			.coverimage{
				max-width:25%;
				float:left;
				margin-right: 40px;
			}
	}
	.infoblog{
		margin-top: 50px;
		.blogname{
			color: blue;
			font-size: 30px;
			overflow:wrap;
			font-style: italic;
		}
		.contentshort{
			color: black;
			font-style: italic;
			padding-bottom: 30px;
			position: relative;
			left: 30px;
		}
		.usercreate{
			
			font-style: italic;
		}

	}
}
